<!DOCTYPE html>
<html>
<style>
    table, td  {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="equipos">

    <table>
        <tr>
            <td >nombre</td>
            <td>ciudad</td>
            <td>fecha</td>
        </tr>
        <tr ng-repeat="x in names" ng-show="x.localidad == 'Barcelona'">

            <td  ng-if="$odd" style="background-color:#f1f1f1">
                {{ x.nombre }}</td>
            <td ng-if="$even">
                {{ x.nombre }}</td>
            <td ng-if="$odd" style="background-color:#f1f1f1">
                {{ x.localidad }}</td>
            <td ng-if="$even">
                {{ x.localidad }}</td>
            <td ng-if="$odd" style="background-color:#f1f1f1">
                {{ x.fecha }}</td>
            <td ng-if="$even">
                {{ x.fecha }}</td>
        </tr>
    </table>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('equipos', function($scope, $http) {
        $http.get("http://127.0.1.1:8080/api/equipos").then(function (response) {
            $scope.names = response.data;
        });
    });
</script>

</body>
</html>
